.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
  
  .user-profile img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    /* border-radius: 50%; */
    margin-bottom: 1rem;
  }
  
  .user-profile h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .user-profile p {
    margin-bottom: 0.5rem;
  }
  
  .green-text {
    color: green;
  }
  
  .users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  